html
    body
        h1 Tabela
            table
                for red in redovi
                    tr
                        td #{red.ime}
                        td #{red.adresa}
                        td #{red.telefon}